<!-- multistep form -->
<%= form_tag plans_path, :method => :get, id: "msform" do %>
  <!-- progressbar -->
  <ul id="progressbar">
  	<li class="active">Account Setup</li>
  	<li>Social Profiles</li>
  	<li>Personal Details</li>
  </ul>
<!-- fieldsets -->
  <fieldset>
  	<h2 class="fs-title">Location</h2>
  	<h3 class="fs-subtitle">Which city do you want plans for?</h3>
  	<%= text_field_tag :city, 'City' %>
  </fieldset>
<% end %>