<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">Saved Plans</a></dd>
  <dd><a href="#usersubplans">Submitted Plans</a></dd>
</dl>

<div class="tabs-content">
  <div class="content active" id="panel1">
    <%= render partial: "user_saved_plans" %>
  </div>

  <div class="content" id="usersubplans">
    <%= render partial: "user_submitted_plans" %>
  </div>
</div>


