// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adminleftpanel{
  border: 0.2em solid grey;
  border-radius: 10px;
  height: 70%;
  width: 15em;
  
}

#adminnavi{
  padding-left: 0.2em;
  font-size: 1.5em
}

#adminheader{
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  width: 100%;
  font-size: 2.5em
}