<form class="forms">

<div id="step1">
  <div class="scity">
    Which <b>City</b> are you searching from?
  </div>

    <%= form_tag(plans_path, method: :get) do %>
      <%= label_tag :search %>
      <input type='textcity' name='cityname' size='15' placeholder='City' />
      <%= submit_tag :search %>
    <% end %>
 
</div>


</form>
