<form id='searchform'>

  <div class="step">
    <div class="scity">
      Which <b>City</b> are you searching from?
    </div>   
    <input type='textcity' name='cityname' size='15' placeholder='City' />
  </div>


  <div class="clear"></div>

  <div class="step">
    <div id="sprice">
      <input type='number' name='planprice' size='15' placeholder='$' />
    </div>   
    <div class="clear"></div>
    <div id="scitya">
      <%= render partial: "form" %>
    </div>
  </div>

  <div class="step">
    <div class="scity">
      What is included in <b>YOUR</b> plan?
    </div>
    <input class="submit" type="submit" name="submit_first" id="submit_third" value="Next" />
    <div class="clear"></div>
  </div>

  <div class="step">
    <div class="scity">
      What Plan are you <b>Searching</b> for?
    </div>

    <div id="scitya">
      <%= render partial: "form" %>
    </div>

    <input class="submit" type="submit" name="submit_first" id="submit_third" value="Next" />
    <div class="clear"></div>
  </div>

</form>


