
<div class="sbody">
  <div class="scontent">

    <div class="scity">
      Which <b>City</b> are you searching from? 
    </div>

    <div id="scitya">
      <input type='textcity' name='cityname' size='15' placeholder='City' />
    </div>

    <a href="#" class="button [radius round]">Next</a>

    <div class="scity">
      How much are <b>YOU</b> paying?
    </div>

    <div id="scitya">
      <input type='number' name='planprice' size='15' placeholder='$' />
    </div>

    <a href="#" class="button [radius round]">Next</a>

    <div class="scity">
      What is included in <b>YOUR</b> plan?
    </div>

      <div id="scitya">
        <%= render partial: "form" %>
        <a href="#" class="button [radius round]">Next</a>
      </div>

       <div class="scity">
      What Plan are you <b>Searching</b> for?
    </div>

      <div id="scitya">
        <%= render partial: "form" %>
        <a href="#" class="button [radius round]">Next</a>
      </div>

  </div>

</div>

