  <script src="//code.jquery.com/jquery-1.10.2.js"></script>

<div class="sbody">

    <div class="scontenta">
      <div class="scity">
        Which <b>City</b> are you searching from?
      </div>
      
      <div id="scitya">
        <input type='textcity' name='cityname' size='15' placeholder='City' />
      </div>
      <button class="custom-button-class">Search</button>
    </div>

  <script>
    $( ".custom-button-class" ).click(function() {
    $( ".scontenta" ).hide( "slow" );
    });
  </script>



  <script>
    $( ".scontentb" ).show();
  </script>
Hide this


  <div class="scontentb">
    <div class="scity">
      How much are <b>YOU</b> paying?
    </div>

    <div id="scity">
      <input type='number' name='planprice' size='15' placeholder='$' />
    </div>

    <button class="b2">Next</button>

  </div>

   <script>
    $( ".b2" ).click(function() {
    $( ".scontentb" ).hide( "slow" );
    });
  </script>   

  <script>
    $( ".scontentc" ).show();
  </script>

  <div class="scontentc">
    <div class="scity">
      What is included in <b>YOUR</b> plan?
    </div>

      <div id="scitya">
        <%= render partial: "form" %>
        <button class="b3">Next</button>
      </div>
  </div>

  <script>
    $( ".b3" ).click(function() {
    $( ".scontentc" ).hide("slow");
  });
  </script>   

  <script>
    $( ".scontentd" ).show( "slow" );
  </script>

  <div class="scontentd">
     <div class="scity">
    What Plan are you <b>Searching</b> for?
    </div>

  <div id="scitya">
    <%= render partial: "form" %>
    <button class="b4">Search</button>
  </div>

  <script>
    $( ".b4" ).click(function() {
    $( ".scontentd" ).hide("slow");
  });
  </script>  

  </div> 

</div>
