/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

/*.row { width: 100%; max-width: 980px; min-width: 727px; margin: 0 auto; }*/
    /* To fix the grid into a certain size, set max-width to width */
    
ul#board {
  margin: 20px auto;
    display:inline-block;
}

ul#board li {
  width: 150px;
  border: 1px solid #252525;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 20px 0px 10px;
  background-color: white;
  padding: 20;
  /*line-height: 98px;*/
}