/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require jquery.ui.all
 *= require jquery.ui.progressbar
 *= require jquery.ui.slider
 *= require jquery.ui.spinner
 *= require select2
 *= require_tree .
 */

/*.row { width: 100%; max-width: 980px; min-width: 727px; margin: 0 auto; }*/
    /* To fix the grid into a certain size, set max-width to width */


ul#board {
  margin: 20px auto;
  display:inline-block;
}

.waysweet-footer-bottom {
    height: 13%;
    position: relative;
    bottom: -100px;
    line-height: 50px;
    background-color: #e0e0e0;
    width: 100%;
    color: white;
    padding-bottom: 50px
}

ul#board li {
    display: inline-block;
    border-radius: 5px;
    padding: 3px;
    width: 240px;
    height: 200px;
    margin: 10px 0px 0px 10px;
    background: white;
    border: 1px solid #FAFAFA;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    vertical-align: top;
}

.price {
 font-size: 32px;
    letter-spacing: -1px;
    background: #2a9dff;
    color: #FFF;
    border-radius: 6px 6px 0px 0px;
    padding: 8px 0px 4px 0px;

}

.container {
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  padding-left: 30%;
  width: 100%;
  font-size: 20px
}

.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  background: lightgrey;
}

.tcolumn{
  height: 100%;
  width: 100%
}

.planbar {
  height: 50px;
  width: 700px;
  position: left;
  background-color: white;
  border: 1px solid black;
}

.social-icons {
  list-style-type: none;
  display: block;
  padding-top: 10px;
  right: 100px;
}

.select2-container {
  font-size: 1rem;
  width: 100%;
}

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#map-canvas img {
  max-width: inherit;
}

.error_messages{
color: red;
  font-size: 30px;
  text-align: center
}

.alert-box success radius{
  float: right;
  width: 50%;
}


.fi-mail{
  font-size: 36px;
}

.fi-social-facebook{
  font-size: 36px;
}

.fi-social-twitter{
  font-size: 36px;
}

