// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box2 {
  float: right;
  width: 200px;
  height: 200px;
  margin: 1em;
  border: 1px dashed black;
}
.after-box {
  clear: right;
}


.scity {
  color: white;
  font-size: 60px;
  padding-top: 5%;
  background-color: #188D76;
}

.header2{
  width: 50%;
  margin: 0px auto;
  padding-top: 5%;
  color: #00305B;
  font-size: 60px;
}

.homestory{
  height: 200px;
  background-color: #239C7A;
  color: white
}

.header1{
  margin: 0px auto;
  color: white;
  font-size: 60px;
}

.desc{
  background-color: #F6F6F6;
  width: 100%
}

.homedesc{
  background-color: #F6F6F6;
  width: 100%;
  height: 30%;
  min-height: 350px

}

#descheader{
  font-size: 40px;
  text-align: center;
  padding-top: 2%;
  color: #6A6F6E;
}

#descheader-s{
  font-size: 40px;
  text-align: center;
  padding-top: 2%;
  color: white;
}

.progress{
  margin: 0 auto
}

.formgrid{
  width: 50%;
  margin: 0px auto;
  padding-top: 0%;
  min-height: 100%
}

.media screen{
  margin: 0;
  padding: 0;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.plansidebar{
  height: 65%;
  width: 220px;
  position: fixed;
  top: 100px;
  // background-color: black

}

.searches{
  width: 50%;
  margin: 0px auto;
  padding-top: 5%;
  color: #252525;
  font-size: 20px;
  padding-bottom: 1em;
  title-bg: #ddd;
}

.realTimeSearch {
  width: 20%;
}


.btnlayout {
  text-align: center
}

p.displayPrice{
  background-color: #002043;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 1.3em

}

p.displayMinute{
  text-align: center;
  color: #777;
  font-weight: normal;
  // line-height: 1.4;
  // bottom-border: dotted 1px #ddd;
  margin-bottom: 0.5em
}

p.displayData{
  text-align: center;
  color: #777;
  font-weight: normal;
  margin-bottom: 0.5em

}

p.displayText{
  text-align: center;
  color: #777;
  font-weight: normal;
  margin-bottom: 0.5em

}


.tabletitle{
  background-color: #188D76;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}


.planfield{
  width: 200px
}

.newplan {
  width: 33%;
  margin: 0px auto;
}

.text-bars, .create-user {
  padding-top: 10%;
  width: 25%;
  margin: 0px auto;
}

.create-user {
  padding-top: 5%;
}

.searchrow{
  width: 100%;
  background-color: #efefef;
  top: 60%;
  height: 50%

}

.plansidebar{
  border: 1px solid #DDD;
  
}

// Slider customization

.slider-text{
  font-size: 25px;
  color: #188D76;

}

.ui-widget-header{
  background: #1ABC9C
}

.ui-widget-content{
  background: #e0e0e0
}

.ui-slider-handle{
  border-radius: 10px;
  border: 0 

}

// .ui-slider-handle{
//   background: red
// }
.ui-slider{
  background: #D8D8D8;
  border: 0
}

#dsearchtitle{
  font-size: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  color: #6A6F6E;
  
}

#dsavetitle{
  font-size: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  color: #6A6F6E;
}

#dsubmit{
  font-size: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  color: #6A6F6E;
  
}

#ddesc{
  text-align: center;
  color: #6A6F6E;
}

.fi-magnifying-glass{
  font-size: 72px;
  color: #16A085
}

.fi-dollar{
  font-size: 72px;
  color: #16A085
}

.fi-page-edit{
  font-size: 72px;
  color: #16A085
}

.fi-graph-bar{
  font-size: 72px;
  color: #16A085
}

.fi-telephone{
  font-size: 72px;
  color: #16A085
}

.fi-social-skillshare{
  font-size: 72px;
  color: #16A085
}

#iconmagn{
  width: 60px;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center
}

#icondollar{
  width: 180px;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center
}

#iconsubmit{
  width: 60px;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center
}

.button{
  background-color: #2C3E50;
}

#descstory{
  padding-top: 2%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem
}

.faq{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.faqsearch{
  background-color: white;
  padding: 20px;
  min-height: 200px;
  margin-top: 2em;
  border-radius: 10px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 1px;
  text-align: center;
  margin: 0 auto;

}

.faqview{
  background-color: white;
  padding: 20px;
  min-height: 200px;
  margin-top: 2em;
  border-radius: 10px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 1px;
  text-align: center;
  margin: 0 auto;
}

.faqneg{
  background-color: white;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 2em;
  border-radius: 10px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 1px;
  text-align: center;
  margin: 0 auto;
}

.faqsubmit{
  background-color: white;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 2em;
  border-radius: 10px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 1px;
  text-align: center;
  margin: 0 auto;
}

.faqshare{
  background-color: white;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 2em;
  border-radius: 10px;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: 1px;
  text-align: center;
  margin: 0 auto;
}

.searchbarbox{
  width: 100%;
  margin: 0 auto;
}

.searchbar{
  width: 20%;
  display: inline-block;
  padding-left: 1em
}

.carrierbar{
  width: 15%;
  display: inline-block;

}

#bartitle{
  padding-bottom: 0.5em;
  text-align: center;
  width: 95%
}

.indexslider-text{
  font-size: 1.25em;
  padding-top: 5px;
}

#blankslider{
  height: .8em
}

table.planstable{
  border: 0
}

.tabletitle{
  border-radius: 0.5em
}

dl.userprofile{
  background-color: #f5eee7;
}
// --------------------------Media -----------------------------------

@media only screen and (max-width: 480px) {

  .header1 {
    color: white;
    font-size: 0.5em;
    width: 100%
  }

  #descheader {
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
  }

  #icondollar{
    width: 100%
  }

  .fi-magnifying-glass{
    font-size: 3em;
  }

  .fi-dollar{
    font-size: 3em;
  }

  .fi-page-edit{
    font-size: 3em;
  }

  #dsearchtitle{
    font-size: 1.3em;
    color: #6A6F6E;
  }

  #dsavetitle{
   font-size: 1.3em 
  }

  #dsubmit{
    font-size: 1.3em 
  }

  .columns.small-centered{
    min-width: 3em;
  }

  .button.small{
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 0.8125rem;
    radius: 1em;
    border-radius: 2em;
  }

  .header2{
    font-size: 2em;
  }

  .formgrid{
    width: 95%
  }

  .searchbar{
    min-width: 100px;
    width: 44%;
  }

  .carrierbar{
    display: inline
  }

  .button.tiny{
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 0.8125rem;
    radius: 1em;
    border-radius: 2em;
  }

  p {
    font-family: inherit;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 1;
    margin-bottom: 0em;
    text-rendering: optimizeLegibility;
  }

  table thead tr th{
    padding: 0.1em;
  }

  .fi-graph-bar{
    font-size: 3em
  }

  .fi-telephone{
    font-size: 3em
  }

  .fi-social-skillshare{
    font-size: 3em
  }

  h3{
    font-size: 1.1rem
  }
}
