// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box2 {
  float: right;
  width: 200px;
  height: 200px;
  margin: 1em;
  border: 1px dashed black;
}
.after-box {
  clear: right;
}


.scity {
  font-family: Helevtica;
  color: #252525;
  font-size: 60px;
  padding-top: 5%;
  height: 515px;
}

.header2{
width: 50%;
margin: 0px auto;
padding-top: 5%;
font-family: Helevtica;
color: #00305B;
font-size: 60px;
}

.header1{
width: 50%;
margin: 0px auto;
// padding-top: -10%;
font-family: Helevtica;
color: #4A90E2;
font-size: 60px;
}

.desc{
  background-color: #F6F6F6;
  height: 300px;
  width: 100%
}

#descheader{
  font-size: 25px;
}
.formgrid{
width: 50%;
margin: 0px auto;
padding-top: 0%;
  
}

.media screen{
margin: 0;
padding: 0;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
}

.plansidebar{
  height: 65%;
  width: 220px;
  position: fixed;
  top: 100px;
  // background-color: black

}

.searches{
width: 50%;
margin: 0px auto;
padding-top: 5%;
font-family: Helevtica;
color: #252525;
font-size: 20px;
padding-bottom: 5%;
title-bg: #ddd;
}

.realTimeSearch {
  width: 200px;
  height: 200px;

}
.btnlayout {
  padding-left: 55%;
  padding-top: 5%;
}

p.displayPrice{
  background-color: #002043;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

p.displayMinute{
  background-color: #F5F6F6;
  text-align: center;
  color: #777;
  font-weight: normal;
  line-height: 1.4;
  bottom-border: dotted 1px #ddd;
}

p.displayData{
  background-color: #F5F6F6;
  text-align: center;
  color: #777;
  font-weight: normal;
  line-height: 1.4;
  bottom-border: dotted 1px #ddd;
}

p.displayText{
  background-color: #F5F6F6;
  text-align: center;
  color: #777;
  font-weight: normal;
  line-height: 1.4;
  bottom-border: dotted 1px #ddd;
}

.displayPrice{
  background-color: #002043;
  text-align: center;
  color: #FFF;
  font-weight: bold;
}

.planfield{
  width: 200px
}

.newplan {
  width: 33%;
  margin: 0px auto;
}

.text-bars, .create-user {
  padding-top: 10%;
  width: 25%;
  margin: 0px auto;
}

.create-user {
  padding-top: 5%;
}

.searchrow{
width: 100%;
background-color: #efefef;
top: 60%
}

.plansidebar{
  border: 1px solid #DDD;
  
}

.slider-text{
  font-size: 25px;
  color: #0084e8;

}

