// Place all the styles related to the savePlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dropplanlist{
  height: 600px;
  border: 1px solid #ddd;
  float: left;
  width: 650px;
  // right: 100px;
  
  
}

.planlist{
height: 250px;
width: 200px;
display: inline-block;
background-color: white
  

}

.draglist{
  left: 50%;
  top: 100px;
  width: 200px;
  height: 280px;

}


.reveal-modal{
  position: fixed
}

#revealplanlist{
  height: 100%;
  float: left;
  width: 150px;
  // border: 1px dashed black;
  padding-left: 20px
  
}

#pricePlan{
  background-color: #002043;
  font-weight: bold;
  color: white;
  width: 100%;
  margin: 0px auto;
}

.desc{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  

}

#tooltip{
  top: 50px;
  
}

.modalButton{
top: 10px
}


#savedlist{
  position: relative;
  width: 40%;
  height: 80%;
  display: inline-block;

}

.savedlistplan{
  width: 200px;
  height: 120px;
}


#pricesavedPlan{
  background-color: #009b68;
  font-weight: bold;
  width: 100%;
  margin: 0px auto;
  display: inline-block;
}

.planlist ui-draggable{
  left: 0px
}

.dragcontainer {
  background-color: green;
  width: 650px;
  height: 60%
}

.large-6{
  background-color: #FFF;
  height: 100%;
  width: 50%
}