// Place all the styles related to the savePlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dropplanlist{
  height: 30%;
  border: 1px dashed grey;
  float: left;
  width: 40%;
  right: 100px;
  
  
}

.planlist{
height: 250px;
width: 250px;
display: inline-block;
background-color: white
  

}

.draglist{
  left: 50%;
  top: 100px;
  width: 150px;
  height: 280px;


}

#savedlist{
  position: absolute;
  top: 400px;
  width: 40%;
  height: 50%;
  border: 1px dashed grey


}


.reveal-modal{
  height: 350px;
  position: fixed
}

#revealplanlist{
  height: 100%;
  float: left;
  width: 150px;
  // border: 1px dashed black;
  padding-left: 20px
  
}

#pricePlan{
  background-color: aliceblue;
  font-weight: bold;
  width: 100%;
  margin: 0px auto;
}

.desc{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  border: dotted 1px #ddd

}

#tooltip{
  top: 200px
}

.savedlistplan{
  width: 200px;
  height: 120px;
  background-color: yellow
}

#pricesavedPlan{
  background-color: red;
  font-weight: bold;
  width: 100%;
  margin: 0px auto;
}