// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// User profile CSS settings


#dropplanlist{
  height: 600px;
  border: 1px solid #ddd;
  float: left;
  width: 650px;
  // right: 100px;
  
  
}

.planlist{
  height: 150px;
  width: 150px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  border-radius: 50px;
}

.user_plans_carrier{
  position: relative
}

.user_plans_info{
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}


.draglist{
  left: 50%;
  top: 100px;
  width: 200px;
  height: 280px;

}


.reveal-modal{
  position: fixed
}

#revealplanlist{
  height: 100%;
  float: left;
  width: 150px;
  // border: 1px dashed black;
  padding-left: 20px
  
}

#pricePlan{
  background-color: #002043;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  width: 100%;
  margin: 0px auto;
}

.desc{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  color: #777
  
}

.descdata{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  color: #777
  
}

.descarrier{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  color: #777
}

#tooltip{
  top: 50px;
  
}

.modalButton{
top: 10px
}


#savedlist{
  position: relative;
  width: 100%;
  height: 80%;
  display: inline-block;

}

.savedlistplan{
  display: inline-block;
  width: 200px
}


#pricesavedPlan{
  background-color: #009b68;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 0px auto;
  display: inline-block;
  font-size: 1.3em
}

.planlist ui-draggable{
  left: 0px
}

.dragcontainer {
  background-color: green;
  width: 650px;
  height: 60%
}

.large-6{
  background-color: #FFF;
  height: 100%;
  width: 500px;
  border: 0
}