

<div class="formgrid">

   <div class="prices">
      <h3>Price</h3>
      <div id="slider1"></div>
      <input id="priceslider" style="border:0; color:#0067C3; font-weight:bold; font-size: 20px;">
      <%= hidden_field_tag :price, value: : %>

  </div>

  <div class="break"></div>

  <div class="minutes">
    <h3>Minutes</h3>
       <div id="slider2"></div> 
      <input id="amount2" style="border:0; color:#0067C3; font-weight:bold; font-size: 20px;">
  </div>

  <div class="break"></div>

  <div class="data">
    <h3>Data (in MB)</h3>
      <div id="slider3"></div>
      <input id="amount3" style="border:0; color:#0067C3; font-weight:bold; font-size: 20px;">
  </div>

  <div class="break"></div>

  <div class="texts">
    <h3>Text</h3>
     <div id="slider4"></div>
     <input id="amount4" style="border:0; color:#0067C3; font-weight:bold; font-size: 20px;"> 
  </div>

</div>

<!-- <div class="row">
  <h5>Features</h5>
  <input id="checkbox1" type="checkbox"><label for="checkbox1">Canada Wide Long Distance</label> <br />
  <input id="checkbox1" type="checkbox"><label for="checkbox1">Caller ID</label> <br />
  <input id="checkbox2" type="checkbox"><label for="checkbox2">Voicemail</label> <br />
  <input id="checkbox2" type="checkbox"><label for="checkbox2">Early Evenings & Weekends</label> <br />
  <input id="checkbox2" type="checkbox"><label for="checkbox2">Call Fowarding</label> <br />
</div> -->


