<div class="formgrid">

 <div class="prices">
  <h5>Price</h5>
  <div class="range-slider round" data-slider data-options="start:1; end: 120; step: 10;">
  <span class="range-slider-handle"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
  </div>
</div>

<div class="minutes">
  <h5>Minutes</h5>
  <div class="range-slider round" data-slider data-options="start:1; end: 600; step: 50;">
  <span class="range-slider-handle"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
  </div>
</div>

<div class="data">
  <h5>Data</h5>
  <div class="range-slider round" data-slider data-options="start:0; end: 6000; step: 500;">
  <span class="range-slider-handle"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
  </div>
</div>

<div class="texts">
  <h5>Text</h5>
  <div class="range-slider round" data-slider data-options="start:1; end: 600; step: 50;">
  <span class="range-slider-handle"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
  </div>
</div>

</div>

<!-- <div class="row">
  <h5>Features</h5>
  <input id="checkbox1" type="checkbox"><label for="checkbox1">Canada Wide Long Distance</label> <br />
  <input id="checkbox1" type="checkbox"><label for="checkbox1">Caller ID</label> <br />
  <input id="checkbox2" type="checkbox"><label for="checkbox2">Voicemail</label> <br />
  <input id="checkbox2" type="checkbox"><label for="checkbox2">Early Evenings & Weekends</label> <br />
  <input id="checkbox2" type="checkbox"><label for="checkbox2">Call Fowarding</label> <br />
</div> -->