<div class="faq">

  <div id="descheader">
    How to Find and Negotiate the Cheapest Cellphone Plans
  </div>

  <div class="faqsearch">
    <h6>Step 1.</h6>
    <i class="fi-magnifying-glass"></i>
    <h3> Search for Your Plan</h3>
    Find the best plan that's right for you by entering your city, maximum price, requested minutes, data, and text on the search page.
  </div>

  <div class="faqview">
    <h6>Step 2.</h6> 
    <i class="fi-graph-bar"></i>
    <h3>View and Compare the Cheapest Plans</h3>
    View the best cellphone plans that users have submitted and save the desired plans to your profile (You must be registered and signed in to save plans)
  </div>

  <div class="faqneg">
    <h6>Step 3.</h6>
    <i class="fi-telephone"></i>
    <h3>Negotiate</h3>
    Call into your wireless carrier and select the option to Cancel your account. Tell the customer service representative nicely that you are unsatisifed with your current plan and know someone that got a better price. Use the saved plan details to negotiate a better deal. If you are happy with the plan offered, ask to have the details documented and agree to accept it. 
  </div>

  <div class="faqsubmit">
    <h6>Step 4.</h6> 
    <i class="fi-page-edit"></i>
    <h3>Submit Your Plan</h3>
    Negotiated or currently have an amazing plan? Give back to the community and help others find the best price on their cellphone plans by entering your plan details and building the community database. 
  </div>

  <div class="faqshare">
    <h6>Step 5.</h6>
    <i class="fi-social-skillshare"></i>
    <h3>Share the word!</h3>
    Help us make other people aware of our site by spreading the word to friends and family through our Facebook & Twitter! 
  </div>

</div>