<div class="faq">

  <div id="descheader">
    How to find and negotiate the best cellphone plans
  </div>

Step 1. Search for Your Plan
  Find the best plan that's right for you by entering your city, maximum price, requested minutes, data, and text on the search page.

Step 2. View and Compare the Cheapest Plans
  View the best cellphone plans that users have submitted and save the desired plans to your profile (You must be registered and signed in to save plans)

Step 3. Negotiate 
  Call into your wireless carrier and select the option to Cancel your account. Tell the customer service representative nicely that you are unsatisifed with your current plan and know someone that got a better price. Use the saved plan details to negotiate a better deal. If you are happy with the plan offered, ask to have the details documented and agree to accept it. 

Step 4. Submit Your Plan 
  Negotiated or currently have an amazing plan? Give back to the community and help others find the best price on their cellphone plans by entering your plan details and building the community database. 

Step 5. Share the word! 
  Help us make other people aware of our site by spreading the word to friends and family through our Facebook & Twitter! 

</div>