<div class ="homesearch">

  <%= form_tag plans_path, method: :get, authentication: false, id: 'search-form' do %>
    <div id="step1">
      <div class="scity">
        <div class="header1">
          <center><b>City</b> search</center>
        </div>
          <div id='city-search' class="small-3 small-centered columns">
            <center><%= select_tag(:city, options_for_select(@cities)) %>
            <input name="next" id="button1"class="button small" type="button" value="Next" />
            </center>
          </div>  
      </div> 
    </div>

  <div id="step2">
    <div class="sform">
      <div class="header2">
        <center>Search for <b>Plans</b></center>
      </div>
        <div class="formgrid">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>

  <% end %>

</div>

<div class="searchrow">
  <div class ="row">
    <div class="searches">
      <center><b>Recent</b> searches</center>
    </div>

    <div id="search-display"></div>
  </div>  
</div>

<script>
  // When firebase database gets added to, it will update root with what was added
  var url = "https://sizzling-fire-5831.firebaseio.com";
  var firebaseRef = new Firebase(url).limit(5);
  firebaseRef.on('child_added', function(snapshot) {
  	var search = snapshot.val();
    displayChatMessage(search.Price, search.Minute, search.Data, search.Text);
  	});
  function displayChatMessage(price, minute, data, text) {
    if (text == 2600) {
      text = "Unlimited";
    }
    if (minute == 1050) {
      minute = "Unlimited";
    }
    if (data == 6500) {
      data = "Unlimited";
    }
    var div = $("<div class='realTimeSearch medium-2 columns'/>");
    // Fills the div with information
    $("<p class=displayPrice >").text(price).prepend($('<em/>').text("$ ")).appendTo(div);
    $("<p class=displayMinute >").text(minute).prepend($('<em/>').text("Minutes: ")).appendTo(div);
    $("<p class=displayData >").text(data).prepend($('<em/>').text("Data: ")).appendTo(div);
    $("<p class=displayText >").text(text).prepend($('<em/>').text("Text: ")).appendTo(div);
    // Appends the information to the home page
    $('#search-display').prepend(div);
    $('#search-display')[0].scrollTop = $('#search-display')[0].scrollHeight;
  };

  $('#city').select2({
    placeholder: "Select a City",
    allowClear: true
  });
</script>

<div class="scity">
    <div class="header1">
      <center><h3>How It Works</h3></center>
    </div>
  </div>
