
<div class ="homesearch">

  <%= form_tag plans_path, method: :get, authentication: false, id: 'search-form' do %>
    <div id="step1">
      <div class="scity">
        <div class="header1">
          <center>Find the <b>Cheapest</b> Cellphone Plans</center>
        </div>
          <div id='city-search' class="small-3 small-centered columns">
            <center><%= select_tag(:city, options_for_select(@cities)) %>
            <input name="next" id="button1"class="button small" type="button" value="Next" />
            </center>
          </div>  
      </div> 
    </div>

  <div id="step2">
    <div class="sform">
      <div class="header2">
        <center>Search for <b>Plans</b></center>
      </div>
        <div class="formgrid">
          <%= render partial: "form" %>
        </div>
      </div>
    </div>

  <% end %>

</div>

<div class="searchrow">
   
</div> 

<div class="homedesc">
  <div id="descheader">
    How It Works
  </div>

  <div class="row">
    <div class="small-4 large-4 columns">

      <div id="iconmagn">
        <i class="fi-magnifying-glass"></i>
      </div>

      <div id="dsearchtitle">
      Search for Your Plan
      </div>

      <div id="ddesc">
      Discover the best plans submitted by other users
      </div>

    </div>

    <div class="small-4 large-4 columns">

      <div id="icondollar">
        <i class="fi-dollar"></i> <i class="fi-dollar"></i> <i class="fi-dollar"></i>
      </div>

       <div id="dsavetitle">
        Save Money
       </div>

       <div id="ddesc">
      Find the best plan and use it to negotiate your cellphone plan
      </div>

    </div>

    <div class="small-4 large-4 columns">
      <div id="iconsubmit">
        <i class="fi-page-edit"></i>
      </div>
        
      <div id="dsubmit">
        Submit Your Plan
      </div>

      <div id="ddesc">
        Enter your plan details to help build the community base
      </div>

     </div>
  </div> 
</div>


<div class="homestory">
  <div class="row">
     <div id="descheader-s">
      Our Story
      </div>

      <div id="descstory">
        <p>
        We believe Canadians have been overpaying for their cellphone plans for too long. We want to make pricing of  plans transparent and ultimately save people money. You shouldn’t have to pay more for your plan than your neighbour that has the exact same plan. Waysweeter makes it easy to view, compare, and save money on cellphone plans.
        </p>
      </div>
      
  </div>    
</div>