
<h1>Search plan price </h1>


<%= form_tag plans_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= number_field_tag :price, params[:price] %>
  <%= submit_tag "Search", :name => nil, class: 'search-submit' %>
<% end %>


