

<div class="formgrid">
  <center><h1>Cellphone Plans</h1></center> <br />  
  <table>
    <thead>
      <div class="empty">
        <%= render "searchbar" %>   
      </div>
      <tr>
        <h1><small><%= page_entries_info @plans %></small></h1>
      </tr>
      <tr>
        <th width="150" class="displayPrice">Carrier</th>
        <th width="150" class="displayPrice">Price</th>
        <th width="150" class="displayPrice">Minutes</th>
        <th width="150" class="displayPrice">Data</th>
        <th width="150" class="displayPrice">Text</th>
        <th width="150" class="displayPrice">Save Plan</th>
      </tr>
    </thead>

    <tbody>
      <div id="plan-list">
        <%= render :partial => "planlist" %>
      </div>
    </tbody> 
  </table>
  <%= paginate @plans %>
</div>




  
