

<div class="formgrid">
  <center><h1>Cellphone Plans</h1></center> <br />  
  <table class="planstable">
    <thead>
      <div class="searchbarbox">
        <%= render "searchbar" %>   
      </div>
      <tr>
        <h1><small><%= page_entries_info @plans %></small></h1>
      </tr>
      
      <div class="theader"> 
        <tr>
          <th width="20%" class="tabletitle">Carrier</th>
          <th width="20%" class="tabletitle">Price</th>
          <th width="20%" class="tabletitle">Minutes</th>
          <th width="20%" class="tabletitle">Data</th>
          <th width="20%" class="tabletitle">Text</th>
          <th width="20%" class="tabletitle">Save Plan</th>
        </tr>
      </div>

    </thead>

    <tbody>
      <div id="plan-list">
        <%= render :partial => "planlist" %>
      </div>
    </tbody> 
  </table>
  <%= paginate @plans %>
</div>




  
