<div class="empty">
    <%= render "sidebar" %>   
</div>

<div class="formgrid">
  <h1>Plans</h1> <br />  
  <table>
    <thead>
      <tr>
        <th width="150" class="displayPrice">Carrier</th>
        <th width="150" class="displayPrice">Price</th>
        <th width="150" class="displayPrice">Minutes</th>
        <th width="150" class="displayPrice">Data</th>
        <th width="150" class="displayPrice">Text</th>
        <th width="150" class="displayPrice">Save Plan</th>
      </tr>
    </thead>

    <tbody>
      <div id="plan-list">
        <%= render :partial => "planlist" %>
      </div>
    </tbody> 
  </table>
</div>




  
